<div id="vote">
	<% if current_user_vote.nil? %>
		<div>
		<%= link_to fa_icon("chevron-up"),   
			post_votes_path( @post, {vote: {up: true}} ),  # This hash mimics params[] hash  
			class: "big-icon", 
			method: :post,
			remote: true %>
		</div>
		<div>	
		( <%= @post.votes_for_post %> )
		</div>
		<div>	
		<%= link_to fa_icon("chevron-down"),   
			post_votes_path( @post, {vote: {up: false}} ),  # This hash mimics params[] hash  
			class: "big-icon", 
			method: :post,
			remote: true %>
		</div>				
	<% elsif current_user_vote.up? %>
		<div>

		<%= fa_icon "chevron-up", class: "big-icon disabled cant-up"%>
		</div>
		<div>	
			
		( <%= @post.votes_for_post %> )
		</div>
		<div>	
			
		<%= link_to fa_icon("chevron-down"),   
			post_vote_path( @post, current_user_vote ),
			class: "big-icon", 
			method: :delete,
			remote: true %>
		</div>
		
	<% else %>
		<div>

		<%= link_to fa_icon("chevron-up"),   
			post_vote_path( @post, current_user_vote ),
			class: "big-icon", 
			method: :delete,
			remote: true %>
		</div>
		<div>	

		( <%= @post.votes_for_post %> )
		</div>
		<div>	
			
		<%= fa_icon "chevron-down", class: "big-icon disabled cant-down"%>
		</div>

	<% end %>
</div>